<div class="container-fluid link-light bg-dark mt-5 p-3">
    <div class="row m-auto">
        <div class="col-12 col-sm-6 col-md-3 col-xl-3">
            <h4 class="text-uppercase">About Us</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, atque.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-xl-3">
            <h4 class="text-uppercase">Services</h4>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum dolor.</a></p>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum dolor.</a></p>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum dolor.</a></p>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum dolor.</a></p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-xl-3">
            <h4 class="text-uppercase">Useful Links</h4>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum.</a></p>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum.</a></p>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum.</a></p>
            <p><a class="link-light text-decoration-none" href="#">Lorem, ipsum.</a></p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-xl-3">
            <h4 class="text-uppercase">Address</h4>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem, ipsum dolor.</p>
            <p>Lorem, ipsum.</p>
        </div>
    </div>
</div>